* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
}

/* centering content on the landing page */
body.landing-page {
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 95vh;
    padding-top: 0;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px; /* space between header and navbar */
    color: #333;
}

h2 {
    margin-bottom: 10px; /* space between header and navbar */
    color: #333;
    font-size: 1.25rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
    background-color: #4169E1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center; /* Centers the items horizontally */
    flex-wrap: wrap; /* Allows items to wrap in case of smaller screen */
    margin-bottom: 30px;
}
  
li {
    float: left;
}

li a, .dropbtn {
    min-width: 150px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #2e54c7;
    }

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}

.content {
    margin-left: 25px;
    margin-right: 25px;
}

p {
    margin-bottom: 5px;
}

input {
    margin-bottom: 5px;
}

select {
    margin-bottom: 5px;
}

button {
    margin-bottom: 5px;
}

.flash-messages .alert {
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-weight: bold;
}

.flash-messages .alert-success {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
}

.flash-messages .alert-danger {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
}

.flash-messages .alert-info {
    background-color: #d1ecf1;
    border: 1px solid #bee5eb;
    color: #0c5460;
}

.flash-messages .alert-warning {
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    color: #856404;
}

.flash-messages .alert:hover {
    opacity: 0.9;
}

/* responsive design for mobile devices */
@media (max-width: 768px) {
    nav ul li {
        flex-direction: column;
        margin: 4px 0;
    }

    h1 {
        font-size: 2.5em;
    }
}