{% extends 'base.html' %}

{% block title %}Add Post{% endblock %}

{% block content %}

<script src="{{ url_for('static', filename='add_post.js') }}"></script>

<h2>Enter user data</h2>
<form method="POST">
    <label for="project_name">Project Name:</label>
    <input type="text" name="project_name"><br>
    <label for="manager">Project Manager:</label>
    <input type="text" name="manager"><br>
    <label for="institute">Institute:</label>
    <input type="text" name="institute"><br>
    <label for="start">Start Date:</label>
    <input type="date" name="start"><br>
    <label for="end">End Date:</label>
    <input type="date" name="end"><br>

    <input type="submit" value="Submit">
</form>

{% endblock %}