{% extends 'base.html' %}

{% block title %}Add Post - Database Manager{% endblock %}

{% block content %}

<h2>Enter original post data</h2>
<form method="POST">
    <div id="posts-container">
        <label for="orig_user">Username:</label> <input type="text" name="orig_user" required><br>
        <label for="orig_platform">Social Media Platform:</label> <input type="text" name="orig_platform" required><br>
        <label for="orig_time">Time Posted:</label> <input type="datetime-local" name="orig_time" required><br>
        <label for="orig_text">Text:</label> <input type="text" name="orig_text" required><br>
        <br><br>
    </div>

    <input type="submit" value="Submit">
</form>

{% endblock %}