<ul>
    <li class="dropdown">
        <a href="" class="dropbtn">Data Entry</a>
        <div class="dropdown-content">
            <a href="{{ url_for('add_user') }}">Add User</a>
            <a href="{{ url_for('add_project') }}">Add Project</a>
            <a href="{{ url_for('add_post') }}">Add Post</a>
            <a href="{{ url_for('add_ptp') }}">Add Post to Project</a>
            <a href="{{ url_for('add_result') }}">Add Result</a>
        </div>
    </li>
    <li class="dropdown">
        <a href="" class="dropbtn">Data Query</a>
        <div class="dropdown-content">
            <a href="{{ url_for('query_posts') }}">Query Posts</a>
            <a href="{{ url_for('query_projects') }}">Query Projects</a>
        </div>
    </li>
</ul>