<ul>
    <li class="dropdown">
        <a href="" class="dropbtn">Data Entry</a>
        <div class="dropdown-content">
            <a href="add_user.html">Add User</a>
            <a href="{{ url_for('add_project') }}">Add Project</a>
            <a href="{{ url_for('add_post') }}">Add Post</a>
            <a href="add_ptp.html">Add Post to Project</a>
            <a href="add_result.html">Add Result</a>
        </div>
    </li>
    <li class="dropdown">
        <a href="" class="dropbtn">Data Query</a>
        <div class="dropdown-content">
            <a href="query_posts.html">Query Posts</a>
            <a href="query_projects.html">Query Projects</a>
        </div>
    </li>
</ul>